.form {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.login {
  width: 400px;
}

.login__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.login__field {
  margin-top: 15px !important;
}

.form-error {
  color: red;
}